/* font-family: 'DM Sans',sans-serif;
font-family: 'Quintessential',cursive;
font-family: 'Raleway',sans-serif; 
font-family: 'Quicksand',sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

/* CartWidget */
.btnCartW {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    margin-top: 0.5em;
}

.bi-cart-check-fill {
    color: rgb(61, 70, 63);
    font-size: 1.9em;
    margin: 3px;
}

.mCart {
    font-family: 'Quicksand', sans-serif;
    color: rgb(61, 70, 63);
    background-color: rgb(242, 242, 185);
    font-size: 1em;
}

/* CartDetail */

.btn-a {
    background: linear-gradient(180deg, rgb(208, 217, 207) 25%, rgb(240, 240, 240) 100%);
    border-color: rgb(167, 179, 166);
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 12px;
    text-align: center;
}

.cartBody {
    background-color: rgb(242, 242, 242);
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1.3em;
    padding: 1em;
    font-family: 'DM Sans', sans-serif;
    border-radius: 15px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, .25);
    color: #3d463f;


}

.cartItem {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cartItem img {
    width: 80px;
    align-self: center;
    height: 120px;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cartDetail button {
    border: none;
    color: #3d463f;
    font-size: 1.3em;
}

.cleanCart {
    float: right;
}

.cleanCart i {
    background-color: rgb(228, 237, 231);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, .25);
    border-radius: 8px;
    font-size: 1.6em;
    padding: 3px 10px;
    color: rgb(61, 70, 63);
}

.cartClose {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.finCompra {
    background-color: #b3bcb5;
    border-color: rgb(89, 99, 90);
    border-radius: 5px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    align-self: center;
    color: rgb(37, 43, 38);
    margin-left: 1em;
}

/* CartGreeting */

.cartGreeting {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 400px;
    font-family: 'Raleway', sans-serif;
    color: rgb(61, 70, 63);
}

.cartGreeting_img {
    width: 450px;
}

.cartGreeting_info {
    margin-top: 3em;
    text-align: center;
    padding: 5em;

}

.cartGreeting_info button {
    background: linear-gradient(180deg, rgb(208, 217, 207) 25%, rgb(240, 240, 240) 100%);
    border-color: rgb(167, 179, 166);
    border-radius: 8px;
    padding: 7px 7px;
    font-size: 1.1em;
    text-align: center;
    margin: 2em;
}

.cartGreetin_link {
    font-size: 1.5em;
    text-align: end;
    text-decoration: none;
    padding-top: 7em;
}

.bi-door-open-fill {
    color: rgb(61, 70, 63);
}

/*  */