* {
    margin: 0;
    padding: 0;
}

.greeting {
    background-image: url(../../../public/images/bg_home_desk.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(125%);
    color: #3d463f;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.greeting_text {
    font-family: 'Quintessential', cursive;
    font-size: 1.8em;
    font-weight: 700;
    text-align: right;
    margin-right: 17%;
    margin-top: 1.6em;
}

.greeting_data {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: right;
    margin-right: 17%;
}