* {
    margin: 0;
    padding: 0;
}

.greeting_container {
    background-image: url(../../../public/images/bg_home_desk.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(125%);
    color: #3d463f;
    display: flex;
    flex-wrap: wrap;
}

.greeting {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-family: 'Raleway', sans-serif;
    align-self: flex-end;
    margin-left: 1em;
}

.greeting_quote {
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    line-height: 0.5em;
}

.greeting_data {
    font-size: 0.85em;
    font-weight: 400;
}

/* ===================================================== */

@media (min-width:768px) {
    .greeting {
        font-family: 'Quintessential', cursive;
        color: #3d463f;
        text-shadow: none;
        margin-top: 2em;
        margin-left: 40%;
        align-self: flex-start;
        line-height: 0.75em;
    }

    .greeting_quote {
        display: flex;
        flex-direction: row;
        font-size: 1.5em;
        font-weight: 700;
    }

    .greeting_data {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        margin-left: 30%;
    }
}

@media (min-width:992px) {
    .greeting {
        margin-left: 43%;
    }
}

@media (min-width:1200px) {
    .greeting{
        margin-left: 47%;
    }

    .greeting_quote {
        font-size: 1.8em;
    }

    .greeting_data {
        font-size: 1em;
    }
}