* {
    margin: 0;
    padding: 0;
}

.greeting_container {
    background-image: url(../../../public/images/bg_home_a.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(125%);
    color: #3d463f;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.greeting {
    font-family: 'Quintessential', cursive;
    color: #3d463f;
    justify-self: center;
    margin-top: 1.5em;
    margin-left:12%;
}


.greeting_quote {
    font-size: 1.3em;
    font-weight: 700;
    text-align: left;
    line-height: 0.75em;
}

.greeting_data {
    font-size: 1em;
    font-weight: 400;
    margin-top: -0.5em;
}

/* ===================================================== */

@media (min-width:576px) {
    .greeting_quote {
        line-height: 0.75em;
        font-size: 1.6em;
    }

    .greeting_data {
        font-size: 1.1em;
        float: right;
    }
}

@media (min-width:768px) {
    .greeting_container {
        background-image: url(../../../public/images/bg_home_b.jpg);
    }

    .greeting_quote{
        margin-top: 0.75em;
        display: flex;
        flex-direction: row;
    }

    .greeting_data {
        font-size: 1.2em;
    }
}

@media (min-width:992px) {
    .greeting {
        margin-left: 30%;
    }
    .greeting_quote{
        font-size: 1.8em;
    }
}

@media (min-width:1200px) {
    .greeting_container {
        background-image: url(../../../public/images/bg_home_desk.jpg);
    }

    .greeting {
        margin-left: 35%;
    }

    .greeting_quote {
        font-size: 1.8em;
    }

    .greeting_data {
        font-size: 1.3em;
    }
}