* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(114, 132, 119);
    background: linear-gradient(180deg, rgb(197, 205, 199) 36%, rgb(219, 224, 221) 64%, rgb(240, 240, 240) 100%);
    width: 100%;
    /* position: fixed;
    z-index: 100; */
}

.nav-link {
    color: #3d463f;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.dropdown-menu {
    background: rgb(210, 215, 211);
    border-radius: 7px;
}

.dropdown-item {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
}

.navbar-toggler-icon {      
    flex-grow: initial;
}

.navbar-brand img {
    width: 9em;    
}

@media screen and (min-width:768px) {

    .nav-link {
        font-size: 1.1em;
    }

    .dropdown-item {
        font-size: 1em;
    }

    .navbar-brand img {
        width: 12rem;
        height: 3.65rem;
    }
}

@media screen and (min-width:992px) {

    .nav-link {
        font-size: 1.2em;
    }

    .navbar-brand img {
        width: 15rem;
        height: 5rem;
    }

}