/*background-color: #afb5b1; */

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 6em;
}

.footer {
    width: 100%;
    background-color: rgb(186, 200, 191);
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #3d463f;
    margin-top: auto;
}

.footer_container {
    width: 90vw;
    margin: 0 auto;
}

.footer,
.footer_container,
.data,
.data_redes ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.data {
    width: 100%;
    align-items: first baseline;
    justify-content: space-between;
}

.data_redes {
    width: 100%;
    justify-content: space-evenly;
}

.footer img {
    margin-top: 1em;
}

.data_text,
.data_redes {
    font-size: 0.8em;
}

.footer a,
.footer li i {
    color: rgb(61, 70, 63);
    text-decoration: none;
    font-size: 0.9em;
}

.footer li {
    list-style: none;
}

@media screen and (min-width:576px) {
    .data {
        width: 60%;
        font-size: 1em;
        line-height: 0.8em;
    }

    .data_text li {
        padding: 0.3em;
    }

    .data_redes ul {
        gap: 1em;
    }

    .data_redes {
        width: 30%;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .logo {
        width: 7em;
    }

    .footer_container {
        justify-content: space-between;
    }
}

@media screen and (min-width:992px) {
    .logo {
        width: 8em;
    }

    .footer_container {
        font-size: 1.2em;
    }

    .data_redes ul {
        justify-content: space-around;
    }

    .data_redes li i {
        font-size: 1.2em;
    }

}