/* font-family: 'DM Sans',sans-serif;
font-family: 'Quintessential',cursive;
font-family: 'Raleway',sans-serif; */

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: rgba(195, 194, 184, 0.3);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NavBar */
.navbar {
  background: rgb(114, 132, 119);
  background: linear-gradient(180deg, rgb(197, 205, 199) 36%, rgb(219, 224, 221) 64%, rgb(240, 240, 240) 100%);
  min-height: 100px;
}

.nav-link {
  color: #3d463f;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.dropdown-menu {
  background: rgb(210, 215, 211);
  border-radius: 7px;
}

.dropdown-item {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

.navbar-toggler,
.navbar-toggler-icon {
  background-color: rgb(114, 132, 119);
  font-size: 1.3em;
  font-weight: 900;
}

.navbar-brand img {
  width: 15rem;
  height: 5rem;
}

/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 181, 177);
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 0.8em;
  color: #3d463f;
  padding: 0.5em;
}

.footer a,
.footer i {
  color: rgb(61, 70, 63);
  align-self: center;
  text-decoration: none;
  font-size: 1.1em;
  margin-right: 0.5em;
}

/* Home */
.greeting {
  background-image: url(../public/images/bg_home_desk.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(120%);
  color: #3d463f;
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.greeting_text {
  font-family: 'Quintessential', cursive;
  font-size: 1.9em;
  font-weight: 700;
  text-align: right;
  margin-right: 15%;
  margin-top: 1.2em;
}

.greeting_data {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-align: right;
  margin-right: 15%;
}

/* ========= */

.card_detail {
  background-color: rgb(242, 242, 242);
  width: 80%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, .25);
}

.card_detail_img {
  width: 300px;
  height: 450px;
  margin: 2em;
  border-radius: 10px;
}

.card_detail_bodyContainer {
  display: grid;
  grid-template-rows: minmax(600px) 1fr;
  width: 50%;
  margin: 2em;
}


.card_detail_top {
  display: flex;
  justify-content: space-between;
}

.card_detail_btn {
  display: flex;
  justify-content: right;
}

.itemListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em;
}

.card {
  font-family: 'DM Sans', sans-serif;
  background-color: transparent;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, .25);
  margin: 0.5em;
}

.card_item_img {
  width: 100%;
  height: 325px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .8);
}

.card_item_body {
  background-color: whitesmoke;
  margin: 0.5em;
  line-height: 7px;
}

.inputForm {
  height: 45px;
  width: 250px;
  border: none;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  text-align: left;
  padding: 10px;
}

.inputForm:focus {
  outline: 2px solid #b2b8b2;
}

.btnForm {
  font-size: 1.4em;
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: #889987;
  margin-right: 10px;
  margin-left: 5px;
}

.btnForm:hover {
  color: #f2f2f2;
  border-radius: 5px;
  background-color: #889987;
  padding: 5px;
}